---
layout: layouts/work.njk
eleventyNavigation:
  key: Work
  order: 1
numberOfLatestPostsToShow: 8
---

{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}

<div class="mx-auto w-full lg:w-9/12 flex flex-col lg:flex-row gap-0 lg:gap-4">
  <div class="w-full lg:w-4/12">
    <h1>Hi, this is louis</h1>
    <p>
      Welcome to demo of hugo’s theme PaperMod.<br />
      PaperMod is a simple but fast and responsive theme with useful feature-set that enhances UX.<br />
      Do give a 🌟 on Github !<br />
      PaperMod is based on theme Paper.<br />
    </p>

    <div class="
      text-3xl flex flex-row flex-wrap gap-4
      pt-4 lg:pt-0
      ">
      <a href="//github.com/louiscklaw" target="_blank">
        <i class="fa-brands fa-github"></i>
      </a>
      <a href="//www.linkedin.com/in/louiscklaw" target="_blank">
        <i class="fa-brands fa-linkedin-in"></i>
      </a>
      <a href="//t.me/louislabs" target="_blank">
        <i class="fa-brands fa-telegram"></i>
      </a>
      <a href="//louislabs.slack.com/" target="_blank">
        <i class="fa-brands fa-slack"></i>
      </a>
    </div>
  </div>

  <div class="w-full pt-8 lg:pt-0">
    {% set postslist = collections.blog | head(-1 * numberOfLatestPostsToShow) %}
    {% set postslistCounter = postsCount %}
    {% include "worklist.njk" %}
  </div>
</div>

{# List every content page in the project #} {#
<ul>
  {%- for entry in collections.all %}
  <li
    ><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li
  >
  {%- endfor %}
</ul>
#}
