@media (max-width: 2000px) {
  .list {
  }

  canvas {
    z-index: -1;
    transform: rotate(-10deg);
    opacity: 0.1;
  
    position: fixed;
    height: 150vh;
    width: 150vw;
    top: -15vh;
    left: -15vw;
  }

  .connection-button-container {
    // cancel out the shadow by mobile css below

    box-shadow: unset;
    

    position: fixed;

    top: calc( 100vh - 66px - 10vh );
    left: calc( 0vw );
    width: 100vw;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .question-text {
      display: none;
    }

    .question-text-long {
      display: block;
      padding-right: 1rem;
    }

    .question-icon {
      box-shadow: 0 0 16px 0 rgba( 31, 38, 135, 0.37 );
      border-radius: 50%;

      img {
        height: 66px;
        width: 66px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .list {
  }

  canvas {
    z-index: -1;
    transform: rotate(-10deg);
    opacity: 0.1;
  
    position: fixed;
    height: 150vh;
    width: 150vw;
    top: -15vh;
    left: -15vw;
  }

  .connection-button-container {
    position: fixed;

    top: calc( 100vh - 50px - 120px );
    left: calc( 100vw - 50px - 35px );

    width: 50px;
    height: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .question-text {
      display: none;
    }

    .question-text-long {
      display: none;
    }

    .question-icon {
      box-shadow: 0 0 16px 0 rgba( 31, 38, 135, 0.37 );
      border-radius: 50%;
      
      img {
        height: 50px;
        width: 50px;
      }
    }
  }

}

@media (max-width: 600px) {
  .list {
  }

  canvas {
    display: none;
  }

  .connection-button-container {
    position: fixed;

    top: calc( 100vh - 50px - 120px );
    left: calc( 100vw - 50px - 35px );

    width: 50px;
    height: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .question-text {
      display: none;
    }

    .question-text-long {
      display: none;
    }

    .question-icon {
      box-shadow: 0 0 16px 0 rgba( 31, 38, 135, 0.37 );
      border-radius: 50%;
      
      img {
        height: 50px;
        width: 50px;
      }
    }
  }

}
