@media (max-width: 2000px) {
  .connections_helloworld {
    text-decoration:none
  }

  .post-content {
    a {
      box-shadow: none;
    }
  }

  .connection-list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .listing-item {
      width: 10vw;
      height: 10vw;
      border-radius: 1rem;
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      cursor: pointer;

      margin: 1rem;

      border-bottom: "0px";

      box-shadow: 0 0 1rem rgba(128,128,128,0.5);
    }

    .connection-icon {
      height: 5vw;
      width: 5vw;
      margin-bottom: 0.5rem;
    }
  }

  .link-button {
    background-color: red;
  }
}

@media (max-width: 1024px) {
  .connections_helloworld {
  }

}

@media (max-width: 450px) {
  .connections_helloworld {
    
  }


  .connection-list{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .listing-item {

      width: 100%;
      height: 10vh;

      margin-left: 0;
      margin-right: 0;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .connection-icon {
        height: 55%;
        width: 50%;
        margin: 1rem;
      }

      .connection-text {
        width: 80%;
        text-align: left;
        font-size: x-large;
      }
    }
  }

}


.whatsapp-icon {
  background-image: url('/images/whatsapp.svg');
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
}

.telegram-icon {
  background-image: url('/images/telegram.svg');
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
}

.discord-icon {
  background-image: url('/images/discord.svg');
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
}

.skype-icon {
  background-image: url('/images/skype.svg');
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
}