@media (max-width: 2000px) {
  .short-work {
    .work-three-columns__content:nth-child(2) {
      min-height: 50vh;
      display: flex;
      flex-direction: colum;
      justify-content: center;
      align-items: center;
    }
  }

  .post-header {

    padding-top: 1rem;
    padding-bottom: 3rem;

    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
  }

  .notes {
    display: flex; flex-flow: row; justify-content: space-between;

    .left {


    }

    .mid {
      .post-title{
        display: none;
      }

      .breadcrumbs {
        display: none;
      }
    }
  }

  .notes-helloworld {
    background-color: gold;
  }

  .notes-left {
    width: 25%
  }

  .notes-mid {
    width: 45%; 
    opacity: 75%;

    h1, h2, h3 {

      letter-spacing: 0.025rem;
    }

    h1 {
      background-color: gold;
    }

    h2 {
    }

    h3 {
      padding-top: 1.5rem;
      padding-bottom: 0.5rem;

      border-bottom: black solid 0.01rem;
      margin-right: 10rem;
    }

    p {
      letter-spacing: 0.05rem;
    }
    
    img {
      width: 66%;
      margin-left: auto;
      margin-right: auto;
      padding-top : 1rem;
      padding-bottom: 1rem;
    }
  }

  .notes-right {
    width: 25%
  }

  .hide-in-mobile {
    display: none
  }

  .notes {
    .table-of-content {


      .title {
        font-size: 0.8rem;
        opacity: 0.5;
        text-align:center;
        padding-bottom: 1rem;
      }

      #TableOfContents {
        opacity: 0.6;
        font-size: 0.8rem;

        position: sticky;
        top: 10rem;
  

        li {
          list-style: none;
          text-decoration-style: none;


          
        }
      }

      h1 {
        background-color: green;
      }

      h2 {
        background-color: red;
      }

      h3 {
        background-color: gold;
      }
    }
  }

}

@media (max-width: 400px) {
  .post-header {
    padding-top: 1rem;

    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
  }


  .notes {
    display: flex; flex-flow: row; justify-content: space-between;

    .left {
      display: none;
    }

    .mid {
      text-align: left;
      width: 100%;


      h2 {
        text-align:left;
        padding-top: 2rem;
        padding-bottom: 1rem;

      }

      h3 {
        margin-right: unset;
        border-bottom: unset;
      }

      blockquote {
        background-color: rgba(0,0,0,0.05);
      }

      img {
        width: 100%;
      }

      #参考文章 {
        margin-top: 5rem;


      }

      #参考文章 + ul {
        opacity: 0.8;
        font-size: 0.8rem;
      } 

    }

    .right {
      display: none;
    }
  }



  .short-work {
    .work-three-columns__content:nth-child(2) {
      min-height: unset;
    }
  }
}
