@media (max-width: 2000px) {

  .show-desktop {
    
  }

  .show-mobile {
    
    display: none;
  }

}

@media (max-width: 1024px) {

}

@media (max-width: 450px) {


  .show-desktop {
    
    display: none;
  }

  .show-mobile {
    
    display: block;
  }

}

.qr-image {
  width: auto;
}