---
layout: layouts/base.njk
---

helloworld ?

<div>
  /en-US/tags/{{ tag | slugify }}
</div>

<div>{{ "/tags/" | locale_url }}</div>
<div>{{ "/en-US/tags/{{ tag | slugify }}/" | locale_url }}</div>
<div>{{ "/tags/" | locale_url }}{{ tag | slugify }}</div>
