---
layout: layouts/base.njk
---

{%- css %}
  {% include "public/css/card.css" %}
{%- endcss %}

<script type="text/javascript" src="https://unpkg.com/qr-code-styling@1.5.0/lib/qr-code-styling.js"></script>

<div class="flex flex-col gap-8 h-[60vh]">
  <div class="grow"></div>
  <div class="flex flex-row justify-center gap-4 lg:gap-8">
    <div class="basis-1/4" style="max-width:160px;">
      <img class="rounded-full" src="https://avatars.githubusercontent.com/u/1376093" alt="Rounded avatar" />
    </div>

    <div class="w-1 border-l"></div>

    <div class="basis-1/4" style="max-width:160px;">
      <div id="site-qr-canvas"> {# width and height handled by scss #} </div>
    </div>
  </div>

  <div class="hidden lg:block h-[5rem]"></div>

  <div class="flex flex-row justify-center text-center">
    <div class="prose">
      <h1 class="text-xl lg:text-3xl" id="greetings">Hi, I am louis</h1>
      <h2 class="text-base lg:text-2xl font-normal">a validation engineer</h2>
    </div>
  </div>

  <div class="flex flex-row justify-center text-center text-3xl gap-6 lg:gap-8">
    <a href="//github.com/louiscklaw" target="_blank">
      <i class="fa-brands fa-github"></i>
    </a>
    <a href="//www.linkedin.com/in/louiscklaw" target="_blank"> <i class="fa-brands fa-linkedin-in"></i></a>
    <a href="//t.me/louislabs" target="_blank">
      <i class="fa-brands fa-telegram"></i>
    </a>
    <a href="//louislabs.slack.com/" target="_blank">
      <i class="fa-brands fa-slack"></i>
    </a>
  </div>

  <div class="flex flex-row justify-center text-center text-3xl gap-4">
    <a href="/works">
      <button class="btn btn-active btn-ghost">
        works
      </button>
    </a>
    <a href="/tags">
      <button class="btn btn-active btn-ghost">tags</button>
    </a>
  </div>

  <div class="grow"></div>
</div>

<script type="text/javascript">
  const GenQRLouisCklaw = () => {
    const para = document.querySelector('.palette');
    const compStyles = window.getComputedStyle(para);

    const quarterWidth = window.innerWidth * 0.25;

    const qrCode = new QRCodeStyling({
      width: 300,
      height: 300,
      // type: "svg",
      data: window.location.href,
      // image: "https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg",
      dotsOptions: {
        color: compStyles.getPropertyValue('color'),
        type: 'rounded',
      },
      backgroundOptions: {color: compStyles.getPropertyValue('background-color'),},
      imageOptions: { crossOrigin: 'anonymous', margin: 2 },
    });

    qrCode.append(document.getElementById('site-qr-canvas'));
    document.removeEventListener('DOMContentLoaded', GenQRLouisCklaw);
  };

  document.addEventListener('DOMContentLoaded', GenQRLouisCklaw);
</script>
