<!-- themes/PaperMod/layouts/shortcodes/work-three-columns-title-left.html -->
<div  class="work-three-columns">
  <div class="work-three-columns__content" >
    <div class="first-column">
      <h1 class="post-title">
        {{ $.Page.Title }}
      </h1>
      
      <div class="post-description">
        {{ $.Page.Description }}
      </div>
      
    </div>
  </div>

  {{ range split .Inner "<--->" }}
    <div 
      class="work-three-columns__content" 
      >
      {{ . | $.Page.RenderString  }}
    </div>
  {{ end }}

</div>
