@media (max-width: 2000px) {
  .show-from-mobile {
    display: none;
  }
}

@media (max-width: 400px) {
  .show-from-mobile {
    display: block;
  }
}

.show-from-mobile-helloworld {
  background-color: red;
}
