<div id="toggleTheme" style="cursor: pointer">
  <div id="theme-moon-icon" >
    <svg
      id="moon"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="20"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
    </svg>
  </div>


  <div id="theme-sun-icon" >
    <svg id="sun" xmlns="http://www.w3.org/2000/svg" width="24" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <circle cx="12" cy="12" r="5"></circle>
        <line x1="12" y1="1" x2="12" y2="3"></line>
        <line x1="12" y1="21" x2="12" y2="23"></line>
        <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
        <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
        <line x1="1" y1="12" x2="3" y2="12"></line>
        <line x1="21" y1="12" x2="23" y2="12"></line>
        <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
        <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
    </svg>
  </div>
</div>

<script>
  let curr_theme = localStorage.getItem('curr_theme') || "light";

  function changeThemeLight(){
    console.log('changeThemeLight')
    const html = document.querySelector("html");
    html.dataset.theme = 'emerald';

    document.querySelector('#theme-sun-icon').style.display="none"
    document.querySelector('#theme-moon-icon').style.display="block"
  }

  function changeThemeDark(){
    console.log('changeThemeDark')
    const html = document.querySelector("html");
    html.dataset.theme = 'dracula';

    document.querySelector('#theme-sun-icon').style.display="block"
    document.querySelector('#theme-moon-icon').style.display="none"
  }

  function toggleTheme(){
    if (curr_theme == 'light'){
      curr_theme="dark"
      changeThemeDark()
    }else{
      curr_theme="light"
      changeThemeLight()
    }
    console.log('save toggle theme')
    localStorage.setItem('curr_theme', curr_theme);

  }

  const button = document.querySelector("#toggleTheme");
  button.addEventListener("click", toggleTheme);

  {# init update theme #}
  if (curr_theme == 'dark'){
    changeThemeDark()
  }else{
    changeThemeLight()
  }

</script>
