.footer {
  padding-bottom: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: none;
  width: 100%;
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(48.75rem * 1.2);
  width: 100%;
  font-size: var(--text-base);
  border-top: 1px solid rgba(230, 230, 230, 1);
}

.footer__content > * {
  margin-top: 2rem;
}

.footer__attribution {
  font-size: var(--text-sm);
}

.footer ul {
  list-style: none;
  display: flex;
}

.footer li {
  /* margin-right: 2rem; */
  margin-right: 0;
}

ul.hero__social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}


@media (min-width: 35.9375em) {
  ul.hero__social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }
}

@media (min-width: 45.9375em) {
  ul.hero__social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }
}

@media (min-width: 70em) {
  ul.hero__social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
  }
}
