.job_applications {
  div.letter-header{
    h2 {
      font-size: var(--text-2xl);
      font-weight: unset;

    }

    h3 
    {
      margin-top: 0.25rem;
      padding-top: 0rem;
      font-size: var(--text-1xl);
    }
  }
  
  .letter-container {
    /* background-color: var(--accent_grey_light); */
    padding: 1rem 0rem;
    text-align: justify;

    .spacer {
      padding-top: 2rem;
    }

    p {
      margin-top: 1rem;
    }
  }

  h3 {
    border-bottom: 1px solid var(--accent_grey);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    padding-top: 2rem;
  }

  .bold {
    font-weight: bold;
  }

  .screencapture {
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .img-spacer {
    max-width: 500px;
  }

}

.lb-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: white;
}

.lb-outerContainer {
  width: 90vw !important;
  height: 90vh !important;

  img.lb-image {
    max-width: calc( 90vw - 2rem );
    max-height: calc( 90vh - 2rem );
  }
}



@media (min-width: 35.9375em) {
  .job_applications {
    .img-spacer {
      display: none;
    }

    div.letter-header{
      h2 {
        font-size: var(--text-3xl);
        font-weight: unset;
      }
  
      h3 {
        margin-top: 0.5rem;
        padding-top: unset;
        font-size: var(--text-2xl);
      }
    }
  }


}