.job_applications {

  .letter-container {
    /* background-color: var(--accent_grey_light); */
    padding: 1rem 0rem;

    .spacer {
      padding-top: 2rem;
    }

    p {
      margin-top: 1rem;
    }
  }

  h3 {
    border-bottom: 1px solid var(--accent_grey);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    padding-top: 2rem;
  }

  .bold {
    font-weight: bold;
  }

  .screencapture {
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .img-spacer {
    max-width: 500px;
  }
}

@media (min-width: 35.9375em) {
  .job_applications {
    .img-spacer {
      display: none;
    }
  }
}