@import 'global.css';
@import 'variable.css';
@import 'prism-theme.css';
@import 'typography.css';
@import 'post-list.css';
@import 'hero.css';
@import 'header.css';
@import 'footer.css';
@import 'post.css';
@import 'about.css';
@import 'supermarket_qr.css';
@import 'pay.css';
@import 'home.css';
@import 'namecard.css';
@import 'job_applications.css';

.layout-wrapper {
  display: grid;
  grid-template-rows: auto minmax(0, 1fr) auto;
  min-height: 100%;
}

.main {
  display: flex;
  padding-bottom: 4rem;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
  min-width: 0;
  max-width: calc(48.75rem * 1.2);
  margin-left: auto;
  margin-right: auto;

  width: 100%;
  /* background-color: gold; */
}

.post__content pre {
  border-radius: 5px;
}

.post__content p img {
  border-radius: 0.25rem;
}

.horizontal-spacer {
  width: 100%;
  margin-top: 1rem;
  height: 1px;
}

.bottom-thank-you div {
  margin-top: 0.5rem;
}

.bottom-question div {
  margin-top: 0.5rem;
}

.intro h1 {
  font-size: 2rem;
}

.intro .slogan {
  margin-top: 0.2rem;
}

.hide-mobile {
  display: none;
}

.show-mobile {
  display: block;
}

.space-left {
  margin-left: 0.1rem;
}

.nav-item a:hover {
  text-decoration: underline;
}

.tags-list a:hover {
  text-decoration: underline;
}

.text-align-center {
  text-align: center;
}

.image-explain {
  font-size: 0.8rem;
}

.image-tile {
  width: 30%;
}

.image-tile-spacer {
  width: 30%;
}

.head-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (min-width: 35.9375em) {
  .hide-mobile {
    display: unset;
  }

  .show-mobile {
    display: none;
  }

  .bottom-thank-you div {
    margin-top: 0.25rem;
  }

  .bottom-question div {
    margin-top: 0.25rem;
  }

  .intro h1 {
    font-size: 3rem;
  }
  .intro .slogan {
    margin-top: 1rem;
  }

  .post-list__item {
    padding-bottom: 3rem;
    padding-top: 3rem;
  }

  .head-image {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}
