.pay-qr-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  position: relative;
  margin-top: 3rem;

  /* background-color: tomato; */
}

.thank-you-salutation {
  text-align: center;
  
}


.thank-you-text {
  width: 100%;
}

@media (min-width: 35.9375em) {
  .pay-qr-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;

    /* position: relative; */
    width: 100%;
    left: 0;
    margin-top: 3rem;
  }

  .thank-you-salutation {
    /* background-color: red; */

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    row-gap: 0.1rem;
    align-items: center;
    flex-wrap: wrap;
  }

}

@media (min-width: 45.9375em) {

  .qr-wrapper {
  }

  .thank-you-salutation {
    /* background-color: cyan; */
    flex-wrap: wrap;
  }
  .pay-qr-row {
    

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;

    /* position: relative; */
    width: 100%;
    left: 0;
    margin-top: 3rem;
  }

  .thank-you-text {
    width: unset;
  }
  
}

@media (min-width: 70em) {
  .thank-you-salutation {
    /* background-color: gold; */
  }
  .pay-qr-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;

    position: relative;
    width: 80rem;
    left: calc( -1 * ( 80rem - 58.5rem) / 2); 
    /* 
    */
    margin-top: 3rem;
  }

  .thank-you-text {
    width: unset;
  }
  
}
