---
layout: layouts/base.njk
---

<div>
  <div class="
    prose
    prose-h1:text-3xl
    prose-h1:font-bold
    prose-h1:no-underline
    prose-h1:my-4
    prose-img:rounded-xl
    prose-headings:underline
    prose-a:text-blue-600
    max-w-none
    "
  >
    {{ content | safe }}
  </div>
</div>
