@media (max-width: 2000px) {
  #menu-logseq {
    // background-color: cyan;
    display: block;
  }

}

@media (max-width: 800px) {
  #menu-logseq {
    // background-color: gold;
    display: block;
  }
}

@media (max-width: 450px) {
  #menu-logseq {
    display: none;
  }

  #menu-search {
    display: none;
  }
}


#menu-notes {
  display: none;
}