canvas {
  transform: rotate(-10deg);
  opacity: 0.3;

  position: fixed;
  height: 150vh;
  width: 150vw;
  top: -15vh;
  left: -15vw;
}

.test1 {
  background-color: gold;
  height: 150vh;
  width: 150vw;

  transform: rotate(-5deg);
  position: fixed;
  top: -15vh;
  left: -15vw;
}

.front {
  width: 100vw;
  height: 100vh;

  position: fixed;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transform: rotate(15);
}
