canvas {
  opacity: 0.3;

  position: fixed;

}

.front {
  width:100vw;
  height:100vh;

  position:fixed;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}