<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="manifest" href="manifest.json"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="canonical" href={{ page.url | url | absoluteUrl(site.url) }}/> {% bundledcss %} <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <title>
      {{ title  | escape }}
      {% if title %}
        | {{ site.name }}
      {% else %}
        {{ site.name }}
      {% endif %}
    </title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <meta property="og:title" content="{{ title or site.name | escape }}">
    <meta property="og:site_name" content="{{ site.name }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ site.url + page.url }}"/>
    <meta name="twitter:card" content="summary_large_image">
    {% if site.author.twitterHandle %}
      <meta name="twitter:creator" content="@{{ site.author.twitterHandle | replace('@', '') }}"/>
    {% endif %}
    {% set desc = description %}
    {% if not desc %}
      {% set desc = content | striptags | truncate(140) %}
    {% endif %}
    {% if desc %}
      <meta name="description" content="{{ desc | escape }}">
      <meta property="og:description" content="{{ desc | escape }}">
      <meta name="description" content="{{ desc | escape }}"/>
    {% endif %}
    {% if not socialImage %}
      {% set socialImage = site.defaultSocialImage %}
    {% endif %}
    {% if socialImage %}
      <meta property="og:image" content="{{ socialImage | url | absoluteUrl(site.url) }}"/>
      <meta name="twitter:image" content="{{ socialImage | url | absoluteUrl(site.url) }}"/>
    {% endif %}
    {# Add mermaid -- start #}
    <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
    <script>
      mermaid.initialize({startOnLoad: true});
    </script>
    {# Add mermaid -- end #}
    <script>
      * {
        font - family: 'Noto Sans TC',
        sans - serif;
      }
    </script>
    <link rel="stylesheet" href="/assets/lightbox.min.css">
  </head>
  <body>
    <div class="layout-wrapper">
      <header class="header">
        <div class="header__content">
          <h1 class="site-title">
            <a href={{ "/" | url }}>
              {{ site.name }}
            </a>
          </h1>
          <nav class="nav">
            <ul class="nav__list">
              <li class="nav-item">
                <span class="hide-mobile">
                  <i class="fas fa-tools"></i>
                </span>
                <span class="hide-mobile space-left"></span>
                <a href="/works">
                  works/<span class="show-mobile"></span>工作
                </a>
              </li>
              <li class="nav-item">
                <span class="hide-mobile">
                  <i class="fas fa-trophy"></i>
                </span>
                <span class="hide-mobile space-left"></span>
                <a href="/credits">
                  credits/<span class="show-mobile"></span>嗚謝
                </a>
              </li>
              <li class="nav-item">
                <span class="hide-mobile">
                  <i class="far fa-copy"></i>
                </span>
                <span class="hide-mobile space-left"></span>
                <a href="/blog">
                  Blog/<span class="show-mobile"></span>記事
                </a>
              </li>
              <li class="nav-item">
                <span class="hide-mobile">
                  <i class="fas fa-user"></i>
                </span>
                <span class="hide-mobile space-left"></span>
                <a href="/about">
                  About/<span class="show-mobile"></span>關於我
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </header>
      <main class="main">
        {{ content | safe }}
      </main>
      <footer class="footer">
        <div class="footer__content">
          <ul class="hero__social-links">
            <li>
              <a href="https://t.me/louislabs" target="_blank" rel="noopener noreferrer">
                <div>
                  <i class="fab fa-telegram"></i>
                </div>
                <div>telegram</div>
              </a>
            </li>
            <li>
              <a href="https://discordapp.com/users/403184009125036033" target="_blank" rel="noopener noreferrer">
                <div>
                  <i class="fab fa-discord"></i>
                </div>
                <div>discord</div>
              </a>
            </li>
            <li>
              <a href="https://github.com/louiscklaw" target="_blank" rel="noopener noreferrer">
                <div>
                  <i class="fab fa-github"></i>
                </div>
                <div>GitHub</div>
              </a>
            </li>
            {# https://gitee.com/louiscklaw #}
            <li>
              <a href="https://gitee.com/louiscklaw" target="_blank" rel="noopener noreferrer">
                <div>
                  <i class="fab fa-github"></i>
                </div>
                <div>Gitee</div>
              </a>
            </li>
            <li>
              <a href="https://linkedin.com/louiscklaw" target="_blank" rel="noopener noreferrer">
                <div>
                  <i class="fab fa-linkedin"></i>
                </div>
                <div>linkedin</div>
              </a>
            </li>
          </ul>
          <p class="footer__attribution">
            Created by
            <a href="https://github.com/louiscklaw" target="_blank" rel="noopener">louiscklaw,</a>
            Powered by
            <a href="https://www.11ty.dev" target="_blank" rel="noopener">11ty,</a>
            Checkout&nbsp;<a href="https://github.com/louiscklaw/eleventy-duo" target="_blank" rel="noopener noreferrer">project src</a>
          </p>
        </div>
      </footer>
    </div>
    {% bundledjs %}
    <script src="/assets/lightbox-plus-jquery.js"></script>
  </body>
</html>